* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#navbarNav {
  direction: rtl;
}

#navbarNav ul li a {
  font: normal normal normal 18px/37px Heebo;
}

img[alt=""] {
  border-radius: 100px;
  height: 48px;
}

header {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  margin-top: 60px;
  width: 100vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  direction: rtl;
  text-align: center;
}

header h2 {
  font: normal normal 900 5rem/118px Heebo;
  color: #3a3a3a;
  opacity: 1;
}

header p {
  font: normal normal medium 2.5em/30px Heebo;
  letter-spacing: 0px;
  color: #3a3a3a;
  font-size: 20px;
  opacity: 1;
  direction: ltr;
}

#tools-logo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 22px auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: ltr;
}

section p {
  width: 70vw;
}

.dir {
  direction: rtl;
}

img[alt="-砖"] {
  width: 155px;
  height: 150px;
  border-radius: 145px;
}

a[href*="Resume"] {
  background-color: #1ae0ec;
  border-radius: 25px;
  font: normal normal bold 20px/30px Heebo;
  letter-spacing: 0.3px;
  color: #3a3a3a;
  width: 260px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a[href*="Resume"]:hover {
  background-color: darkblue;
  color: #1ae0ec;
  text-decoration: none;
}

#bgc-card {
  background-color: #f6f6f6;
  width: 100%;
}

#container-card {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70vw;
  margin: auto;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.card p {
  font-size: 1rem;
  display: block;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 280px;
  height: auto;
  box-shadow: 15px 15px 15px gainsboro;
  text-align: center;
}

img[alt="Screenshot"] {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background-repeat: no-repeat;
}

img[alt$="logo"] {
  width: 50px;
  height: 50px;
}

#mongoose-logo {
  width: 100px;
}

#react-js-logo {
  width: 80px;
}

a[href*="注"] {
  text-align: right;
  font: normal normal medium 1rem/26px Heebo;
  font-weight: bold;
  letter-spacing: 0px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border-radius: 25px;
  width: 70%;
  height: 2rem;
  margin: auto;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

a[href*="github"] {
  text-align: right;
  font: normal normal medium 1rem/26px Heebo;
  font-weight: bold;
  letter-spacing: 0px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border-radius: 25px;
  width: 70%;
  height: 2rem;
  margin: auto;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

a[href*="注"]:hover {
  background: linear-gradient(to right, #00f2fe, #4facfe);
  transform: scale(1.05);
  color: white;
  text-decoration: none;
}
a[href*="github"]:hover {
  background: linear-gradient(to right, #00f2fe, #4facfe);
  transform: scale(1.05);
  color: white;
  text-decoration: none;
}

a[href*="cards-app"] {
  text-align: right;
  font: normal normal medium 1rem/26px Heebo;
  font-weight: bold;
  letter-spacing: 0px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border-radius: 25px;
  width: 70%;
  height: 2rem;
  margin: auto;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
a[href*="edenque"] {
  text-align: right;
  font: normal normal medium 1rem/26px Heebo;
  font-weight: bold;
  letter-spacing: 0px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border-radius: 25px;
  width: 70%;
  height: 2rem;
  margin: auto;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

a[href*="cards-app"]:hover {
  background: linear-gradient(to right, #00f2fe, #4facfe);
  transform: scale(1.05);
  color: white;
  text-decoration: none;
}
a[href*="edenque"]:hover {
  background: linear-gradient(to right, #00f2fe, #4facfe);
  transform: scale(1.05);
  color: white;
  text-decoration: none;
}

#bgc-card h1,
p {
  text-align: center;
  width: 100%;
}

.card h3,
p {
  margin-top: 3rem;
}

a:link {
  text-decoration: none;
}

#web-sites-screanshot {
  width: 100%;
  height: 100px; /*    砖住专! */
  object-fit: contain;
}

a:hover {
  text-decoration: underline;
}

img[alt*="专"] {
  width: 400px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #3a3a3a;
}

#form-title {
  padding: 50px;
}

form {
  direction: rtl;
}

#form-title h1 {
  text-align: right;
  font: normal normal 900 36px/53px Heebo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-align: right;
}

#form-title p {
  text-align: justify;
  direction: rtl;
  font: normal normal normal 20px/29px Heebo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.form-label {
  text-align: right;
  font: normal normal bold 16px/24px Heebo;
  letter-spacing: 0px;
  color: #ffffff;
}

form textarea {
  height: 57px;
  resize: none;
}

button[type="submit"] {
  width: 10rem;
  height: 3rem;
  background: #1ae0ec 0% 0% no-repeat padding-box;
  border-radius: 25px;
  text-align: right;
  font: normal normal bold 22px/30px Heebo;
  letter-spacing: 0.33px;
  color: #2c2c2c;
  text-align: center;
}

.icons-footer {
  min-height: 50vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.title-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

img[alt*="ic"] {
  width: 2rem;
  height: 2.5rem;
}

#last-item {
  max-height: 40px;
  background: #000000 0% 0% no-repeat padding-box;
  border-bottom: 10px solid #1ae0ec;
  display: flex;
  justify-content: space-between;
}

#last-item h2 {
  font: normal normal normal 20px/29px Heebo;
  letter-spacing: 0.5px;
  color: #1ae0ec;
  margin-left: 2rem;
}

@media screen and (max-width: 1200px) {
  header h1 {
    font-size: 340%;
    width: 100vw;
  }

  header p {
    font-size: 100%;
    margin-bottom: 30px;
  }

  img[alt="-砖"] {
    margin-top: 3rem;
  }

  section h1 {
    margin-top: 20px;
  }

  section p {
    margin-top: 20px;
  }

  section a {
    margin-top: 20px;
  }

  #bgc-card {
    background-color: #f6f6f6;
    width: 100%;
  }

  .card {
    margin-top: 1rem;
  }

  img[alt="转 砖 专 爪专转 拽砖专"] {
    width: 185px;
    height: 161px;
  }

  #icons-footer {
    min-height: 50vh;
    width: 100vw;
  }

  .title-control {
    width: 50%;
  }

  button[type="submit"] {
    width: 50%;
    height: 30%;
  }

  #small-screen-solution {
    font-size: 1rem;
  }

  a[href*="index2"] {
    width: 70vw;
  }
}

@media screen and (max-width: 300px) {
  #small-screen-solution {
    font-size: 80%;
  }

  a[href*="注"] {
    font-size: 80%;
    width: 40vw;
    height: 3rem;
  }
  a[href*="github"] {
    font-size: 80%;
    width: 40vw;
    height: 3rem;
  }

  header h1 {
    font-size: 200%;
  }
}
