@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    background: linear-gradient(190deg, #bf0609, #a15e5e, #bf0609, #a15e5e);
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    gap: 5px;
    margin: 30px auto;
}

#board>div {
    background-color: white;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#players {
    display: flex;
    justify-content: space-between;
}

#players>div {
    text-align: center;
    color: white;
    border-radius: 50%;
    background: #ffffff2b;
    display: flex;
    width: 160px;
    height: 160px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#players h2 {
    margin: 0;
    font-size: 3em;
}

#players>div.currentTurn {
    border: 3px solid;
}

#board>div.win {
    background-color: coral;
}

#msg {
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 10%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -20px 5px 15px rgba(0, 0, 0, 0.3), 5px -5px 15px rgba(12, 129, 33, 0.3);
    transition: box-shadow 0.1s ease-out, transform 1.5s ease-in-out;
}

#msg:hover {
    transform: translateY(-10px);
}