* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    direction: rtl;
    font-family: 'Rubik', sans-serif;
    background-color: #f4f4f4;
}

#frame {
    display: flex;
    justify-content: space-between;
}

#panelSide {
    background-image: linear-gradient(237deg, #5ccc24, #328d7c);
    overflow-y: auto;
    /* position: fixed; */
    height: 100vh;

}

h1 {
    color: white;
    text-align: center;
}

#page {
    max-width: 800px;
    min-height: 500px;
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 3px #b4b4b4;
    padding: 16px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 1px;
}

nav a {
    background: rgb(81, 142, 254);
    padding: 8px;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

nav a:hover {
    background: rgb(50, 255, 50);
}

h2 {
    text-align: center;
    margin-top: 20px;
}



#setting>* {
    display: block;
    margin: auto;
    width: 90%;
    padding: 8px;
    height: 40px;
    border-radius: 4px;
    margin-top: 5px;
}

.active {
    background: rgb(50, 255, 50);
}

#elements {
    display: none;
}

#params>div {
    display: none;
}

#params>div.show {
    display: block;
}


/* @media screen and (max-width:1200px) {
    #panelSide {
        width: 100%;
    }
} */